.midol-badge {
  .MuiBadge-dot {
    width: 10px;
    height: 10px;
    border-radius: 6px;
    border: 1px solid;
  }
}

.midol-badge-tab {
  .MuiBadge-dot {
    right: 9px;
  }
}

.midol-badge-tab-custom {
  .MuiBadge-dot {
    right: 16px;
  }
}

.midol-badge-menu {
  .MuiBadge-dot {
    top: 3px;
    right: -5px;
  }
}
