.income-card {
  border: 1px solid #cecece;
  border-radius: 12px;
  padding: 16px;
  gap: 32px;

  .income-title {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
  }

  .income-amount {
    font-family: "Manrope";
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    color: #000000;
  }
  .amount-disabled {
    color: #a4a4a4;
  }
}

.income-row {
  padding: 16px 0;
  border-bottom: solid 1px #e8e8e8;
}

.income-detail-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.income-card .card-container:last-child {
  .income-row {
    border-bottom: none;
  }
}

.income-text {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.income-text-bold {
  font-weight: 500;
}

.payment-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .payment-modal-title {
    font-family: "Manrope";
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;

    margin: 0;
    padding-top: 24px;
  }

  .payment-modal-sub {
    font-family: "Readex Pro";
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;

    margin: 0;
    padding-top: 8px;
  }
}

.bank-menu-item {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.menu-item-warning {
  color: #ee1b1b;
}
