.Toastify__toast-container {
  width: 100% !important;
  @media (min-width: 768px) {
    width: 480px !important;
  }

  .Toastify__toast-body {
    padding-right: 20px;
  }
}

.Toastify__close-button {
  color: #000000 !important;
}

.Toastify__toast {
  //border: 1px solid;
  border-radius: 8px !important;
  display: flex;
  align-items: center;
}

.Toastify__toast--info {
  background: #effffe !important;
  border-color: #4b9c95;
  color: #4b9c95;
}
.Toastify__toast--success {
  background: #e3fcef !important;
  box-shadow: 0 6px 6px rgba(23, 43, 77, 0.04), 0 12px 12px rgba(23, 43, 77, 0.06);
  border-radius: 12px !important;
  color: #006644 !important;
}
.Toastify__toast--warning {
  background: #fef9d1 !important;
  border-color: #edca1e;
  color: #edca1e;
}
.Toastify__toast--error {
  background: #ffebe6 !important;
  border: 1px solid #ffebe6;
  box-shadow: 0 6px 6px rgba(23, 43, 77, 0.04), 0 12px 12px rgba(23, 43, 77, 0.06);
  border-radius: 12px !important;
  color: #ff3131 !important;
}
.Toastify__close-button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #787878 !important;
}
