.midol-heading {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 56px;
  word-wrap: break-word;
  color: #000000;
}

.midol-heading-mobile {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  word-wrap: break-word;
  color: #000000;
}

.midol-title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  word-wrap: break-word;
  color: #000000;
}

.midol-sub-title {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  word-wrap: break-word;
}
.midol-text {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  word-wrap: break-word;
  color: #000000;
}
.midol-text-medium {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
  word-wrap: break-word;
}
.request-stepper {
  .MuiStepConnector-root {
    flex: none;
  }
  .step-label {
    .MuiStepLabel-label {
      font-family: "Manrope";
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      word-wrap: break-word;
    }
  }

  svg {
    color: #fff !important;
    display: none;
  }
}

.text-gray {
  color: "#767676";
}

.date-title {
  font-size: 14px !important;
}

.midol-text-sm {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;

  color: #000000;
}
